<!DOCTYPE html>
<html>

<head>
    <title>Layout</title>
    <meta charset="utf-8">
</head>

<body>
    <div id="root"><!--- ::APP:: ---></div>
    <script src="/reload/reload.js"></script>
    <script src="bundle.js"></script>
</body>

</html>